* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
    background: #f6cbcb81;
}

.Main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    height: 90vh;
}

.header {
    height: 120px;
    width: 100%;
    background-color: transparent;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left-section h1 {
    color: crimson;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-left-section span {
    color: rgb(29, 50, 34);
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-center-section {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-center-section a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.664);
    font-weight: 600;
    text-transform: capitalize;

    transition: all 0.3s ease;
}

.nav-center-section a:hover {
    color: crimson;
    border-bottom: 2px solid crimson;
}

.nav-right-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.search-box {
    position: relative;
}

.search {
    width: 150px;
    padding: 0.9rem 2.5rem;
    border-radius: 12px;
    border: none;
}

.search-box i {
    position: absolute;
    font-size: 1rem;
    cursor: pointer;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: crimson;
}

.cart-box {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 0.7rem 1rem;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: crimson;
}

.user {
    font-size: 2rem;
    color: crimson;
}

/* main section  */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.left-hero {
    width: 45%;
}

.right-hero {
    width: 55%;
}

.left-hero .hero-heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5rem;
    color: rgb(29, 50, 34);
    display: inline-block;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.hero-heading span {
    color: crimson;
    display: block;
}

.hero-para {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: rgb(29, 50, 34);
    line-height: 1.4;
    text-transform: capitalize;
    max-width: 500px;
}

.hero-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    background: rgb(29, 50, 34);
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s ease,
        transform 0.3s ease;
}

.hero-btn:hover {
    background: rgb(56, 87, 63);
    transform: translateY(-5px);
}

.hero-img {
    width: 100%;
    max-width: 650px;
    height: 550px;
    object-fit: contain;

    animation: flot 4s ease-in-out infinite;
}

@keyframes flot {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

.overview-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    min-height: 100px;
    background-color: crimson;
    color: white;
}

.box-overview {
    display: flex;
    gap: 1rem;
    padding: 1rem 1rem;
}

.box-overview i {
    font-size: 2.5rem;
}

.box-overview ul li {
    list-style: none;
    color: white;
    font-weight: 500;
}



.top-li {
    font-weight: bold;
    font-size: 2rem;
}